.teams {
  height: 90vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  .search {
    height: 5vh;
    form {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .display {
    height: 75vh;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .pageButtons {
    height: 10vh;
    display: flex;
    // visibility: hidden;
    .button {
      box-sizing: border-box;
      height: 100%;
      width: 10vh;
      margin: 0 0.7rem 0 0.7rem;
      padding: 1rem;
      border-radius: 50%;
    }
    .divider {
      border-left: 2px solid #000;
      size: 3rem;
      margin: 0.7rem 0 0.7rem 0;
    }
  }
}
