
.teamPlayer {
  margin: 0.6rem;
  box-sizing: border-box;
  background-color: bisque;
  border-radius: 4rem;
  height: 12vh;
  display: grid;
  grid-template-areas:
    "image name name name"
    "image position position position"
    "image nation nation nation";
  .image {
    height: 100%;
    width: 12vh;
    grid-area: image;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 50%;
  }
  .text {
    justify-self: start;
  }
  .name {
    grid-area: name;
    .title {
      font-weight: bold;
    }
  }
  .position {
    grid-area: position;
    .title {
      font-weight: bold;
    }
  }
  .nation {
    grid-area: nation;
    .title {
      font-weight: bold;
    }
  }
}
